.be-top-header .navbar-header .navbar-brand.topo-main-amvm {
    background-image: none !important;
}

.topo-main-amvm p {
    display: block;
    position: absolute;
    top: 20px;
    left: 160px;
    color: #7b405e;
    font-size: 20px;
}

#amvm-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

#amvm-carousel .carousel-control {
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}

#amvm-carousel .carousel-control.left {
  left: -12px;
}

#amvm-carousel .carousel-control.right {
  right: -12px !important;
}

#amvm-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
  margin-top: 20px;	
}

#amvm-carousel .carousel-indicators li {
  background: #c0c0c0;
}
#amvm-carousel .carousel-indicators .active {
  background: #333333;
}
#amvm-carousel img {
  width: 100%;
}

#amvm-carousel h3 {
	margin-top: 0px !important;
} 

@media (min-width: 768px) { 
  #amvm-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
  }
}

@media (max-width: 768px) {
  #amvm-carousel .carousel-indicators {
    bottom: -20px !important;  
  }
  #amvm-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
  }
  #amvm-carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 20px;
    height: 20px;
  }
}

.painel-parceiros img {
	display: inline-block;
	margin: 10px 30px;
    max-width: 92px;
}

h2.titulo-parceiro {
    color: #7A405E;
}

/* carousel */
.carrosel-bg {
    background-color: #E5E8F2;
    border-radius: 4px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#amvm-carousel .carousel-control.right {
    right: -16px !important;
    text-align: left;
}

#amvm-carousel .carousel-control.left {
    left: -16px !important;
}

#amvm-carousel .carousel-control {
    width: 44px;
    /*background: #E5E8F2;*/
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: -30px;
    border-radius: 0px 0px 4px 4px;
}
#amvm-carousel .carousel-control i {
    position: absolute;
    top: 50%;
    margin-top: -32px;
    color: #8A85BD;
	font-size: 60px;
}

.botoes-controle-graficos {
	text-align: center;
	padding-top: 20px;
}

.titulo-view {
    width: 25%;
    color: #8A85BD;
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid #7A405E;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

footer p{
	color: #7b405e;
	text-align: center; 
}