body{
	background: #E5E8F2;
}

.main-content {
	padding: 0px;
}

p {
	font-size: 15px;
	line-height: 24px;
}

a {
	color: #7b405f;
}
a:hover {
	color: #7b5e76;
}
.be-top-header {
	background: #7b405f;
	border-bottom: 3px solid #ced4e6;
}

.be-top-header .navbar-header .navbar-brand.topo-main-amvm {
    background-image: none !important;
}

/* menus */
.be-top-header .navbar-nav>li.open>a, .be-top-header .navbar-nav>li.open>a:active, .be-top-header .navbar-nav>li.open>a:focus, .be-top-header .navbar-nav>li.open>a:hover {
    /*color: #7b405e;*/
    color: #fff;
}

.be-top-header .navbar-nav>li.dropdown .dropdown-menu>li>a:hover {
    background-color: #a54985;
    color: #fff;
}

.be-top-header .navbar-nav>li.dropdown .dropdown-menu>li>a {
  color: #333;
}

.be-top-header .navbar-nav>li.dropdown .dropdown-menu li {
    border-bottom: 1px solid #7b405f;
    background: white;
}

.be-top-header .navbar-nav>li.dropdown .dropdown-menu {
    padding: 7px 0 0 0;
}

.be-top-header .navbar-nav li:nth-child(1) {
    background-color: #642a47;
    color: #fff;
}
.be-top-header .navbar-nav li:nth-child(1) > a {
    color: #fff;
}
.be-top-header .navbar-nav li:nth-child(2) {
    background-color: #963f6b;
    color: #fff;
}
.be-top-header .navbar-nav li:nth-child(2) > a {
    color: #fff;
}
.be-top-header .navbar-nav li:nth-child(3) {
    background-color: #c8548f;
}
.be-top-header .navbar-nav li:nth-child(3) > a {
    color: #fff;
}
.be-top-header .navbar-nav li:nth-child(4) {
    background-color: #d376a5;
}
.be-top-header .navbar-nav li:nth-child(4) > a {
    color: #fff;
}
.be-top-header .navbar-nav li:nth-child(5) {
    background-color: #de98bc;
}
.be-top-header .navbar-nav li:nth-child(5) > a {
    color: #fff;
}
.be-top-header .navbar-nav li:nth-child(6) {
    background-color: #e9bbd2;
}

.be-top-header .navbar-nav li:nth-child(6) > a {
    color: #fff;
}

.panel-border-color-primary {
    border-top-color: #7b405e;
}

.icones-links h2 {
	text-align: center;
}

.icones-links .img-link-icone {
	margin: 0 auto;
}


.topo-main-amvm p {
    display: block;
    width: 300px;
    position: absolute;
    top: 20px;
    margin-left: 70px;
    color: #fff;
    font-size: 20px;
	font-weight: normal;
}

#amvm-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

#amvm-carousel .carousel-control {
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}

#amvm-carousel .carousel-control.left {
  left: -12px;
}

#amvm-carousel .carousel-control.right {
  right: -12px !important;
}

#amvm-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
  margin-top: 20px;	
}

#amvm-carousel .carousel-indicators li {
  background: #c0c0c0;
}
#amvm-carousel .carousel-indicators .active {
  background: #333333;
}
#amvm-carousel img {
  width: 100%;
}

#amvm-carousel h3 {
	margin-top: 0px !important;
} 

@media (min-width: 768px) { 
  #amvm-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
  }
}

@media (max-width: 768px) {
  #amvm-carousel .carousel-indicators {
    bottom: -20px !important;  
  }
  #amvm-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
  }
  #amvm-carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 20px;
    height: 20px;
  }
}

.painel-parceiros img {
	display: inline-block;
	margin: 10px 30px;
    max-width: 92px;
}

h3.titulo-parceiro h2.titulo-parceiro {
    color: #7A405E;
}

/* carousel */
.carrosel-bg {
    background-color: #fff;
    border-radius: 4px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#amvm-carousel .carousel-control.right {
    right: -16px !important;
    text-align: left;
}

#amvm-carousel .carousel-control.left {
    left: -16px !important;
}

#amvm-carousel .carousel-control {
    width: 44px;
    /*background: #E5E8F2;*/
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: -30px;
    border-radius: 0px 0px 4px 4px;
}
#amvm-carousel .carousel-control i {
    position: absolute;
    top: 50%;
    margin-top: -32px;
    color: #8A85BD;
	font-size: 60px;
}

.botoes-controle-graficos {
	text-align: center;
	padding-top: 20px;
}

.titulo-view {
    width: 50%;
    color: #7A405E;
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid #7A405E;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

footer p{
	color: #7b405e;
	text-align: center; 
}

.thumbnail {
	padding-top: 30px;
	background: #fff;
}

.thumbnail .link-lattes{
	border: none;
}

.thumbnail img {
	width: 250px;
	border-radius: 20px;
}

.thumbnail .link-lattes img {
	width: 130px;
}

/* Botões */
.btn-primary {
	background: #642a47;
	border: 2px solid #7A405E;
}

.btn-primary:hover, .btn-primary:active {
	box-shadow: inset 0 -1px 0 #642a47;
	background-color: #7b405e;
	border-color: #7A405E #7A405E #642a47	
}

.painel-indicador{
	margin-top: 30px;
}

footer {
	background: #f5f5f5;
	padding: 20px;
	text-align: center;
}
